body {
  font-family: "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  line-height: 1.6;
  margin: 0;
  background-color: #fafafa;
  color: #222;
}

.header {
  background-color: #ffffff;
  border-bottom: 2px solid #008872;
  padding: 1rem 0;
  text-align: center;
}

.main-title {
  font-size: 1.8rem;
  margin: 0;
}

.newspaper-name {
  color: #008872;
  font-weight: bold;
}

.options-container {
    border: #008872;
    border-radius: 5px;
    padding: 2px;
    display: flex;
    justify-content: center;
}

.option-container {
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.search-element {
    height: 100%;
    width: 100%;
    font-size: 16px;
    border-color: #c2c2c2;
    border-width: 1px;
    border-radius: 2px;
}

.option-title {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: 800;
    color: #4e4e4e;
}

#subsection {
    margin: 4px;
    cursor: pointer;
}

#date {
    margin: 4px;
    cursor: pointer;
}

.button-container {
    padding: 10px;
    display: flex;
    justify-content: center;
}

.search-button {
    font-size: 12px;
    font-weight: 600;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 8px;
    padding-top: 8px;
    border-radius: 3px;
    color: #FFF;
    background-color: #008872;
    border: none;
    cursor: pointer;
}

.search-button:hover {
    background-color: #00ba9b;
    transition: 0.1s;
}

#noticias {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    padding: 20px;
}

@media (max-width: 580px) {
    .options-container {
        flex-direction: column;
    }
}